
h1 {
  padding-top: -10px;
  padding-bottom: -10px;
  animation: pageLoad 1.25s;

}

h2{
  font-family: 'Muli', sans-serif;
  font-size: 2.5em;

}

h3, p {
font-family: 'Cabin', sans-serif;
font-size: 1.2em
}


li{
  float:left;
  width: 33%;
  font-family: 'Cabin', sans-serif;
  list-style-type: none;
  color: orange;
  padding-top: 50px;
}

ul {
  display: table;
  margin: 0 auto;
}

.bottomLine {
  animation: pageLoad2 1.5s;
}

.bg-img {
  position: absolute;
  opacity: 0.1;
  height: 800px;
  margin-top: -350px;
  margin-left: -600px;

}

.boxLogo {
  padding-top: 4%;
  padding-left: 4%;
}

.container {
  margin: 0 10% 10% 10%;
}

.dev {
  color: orange;
}

.footer {
  /* position: relative;
  top: 275px;
  left:55%; */
  font-size: 0.7em;
  text-align: center;
  color: black;
  font-weight: bold;
  font-family: 'Muli', sans-serif;

}


.HTML {
  height: 100px;
  width:100px;
}

.JS {
  height: 100px;
  width:100px;
}

.git {
  height: 80px;
  width:150px;
}

.icon {
  position: relative;
  color: gray;
  left: 125px;
  animation: socialsLoad 1.5s;
  display: inline-block;
  padding: 0 20px;
}


.insta:hover{
  color: crimson;
}

.github:hover {
  color: black;
}

.twitter:hover {
  color: cyan;
}

.icons {
  position: relative;
  top: 110px;
  animation: socialsLoad 1.5s;
}

.intro {
  font-size: 28px;
  font-family: 'Muli', sans-serif;
  padding-top: 90px;
}


.royce, .royce2 {
  height: 300px;
  width: 300px;
}



.skillsList {
  /* margin: 100px auto; */
  margin-left: 50px;
  padding-bottom: 50px;
}


.skillDescription {
  font-family: 'Cabin', sans-serif;
}

.skill-row {
  width: 60%;
  margin: 125px auto;
  text-align: left;
  line-height: 2;
}

.royce {
  /*width: 100px;
  height: 100px;
  */
  /* width: 25%; */
  float: left;

  margin-right: 40px;
}


.royce2 {
  /* width: 25%; */
  /* height: 25%; */
  float: right;
  margin-left: 40px;
  

}

.contact {
  margin: 150px 50px;
}

.email {
  color: black;
  font-family: 'Cabin', sans-serif;
}

.work{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 2em;
  justify-items: center;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 80px;
  padding: 20px;
}

.workTitle {
  margin-left: 50px
}


.workTitle {
  text-align: left;
}


.workCard1 {
  display: inline-block;
  /* margin-top: 100px;
  height: 75%;
  width: 35%;
  margin-right: 25px; */
  padding: 20px;
  border: 1px solid;
  border-spacing: 15px;
}

.workCard1 img {
  width: 192.5px;
  height: 192.5px;
}

.workCard1 h2 {
  white-space: nowrap;
  line-height: 8px;
}

.workCard1 p {
  display: inline-block;
  width: 85%;
  height: 250px;
  text-align: left;
  color: grey;

}

.workCard1 a {
  display: block;
  color: black;
  cursor: pointer;
  font-family: 'Cabin', sans-serif;
  font-weight: bold;
  padding-top: 20px;
}

.workCard2 {
  display: inline-block;
  /* margin-top: 100px;
  height: 75%;
  width: 35%;
  padding: 20px;
  margin-left: 25px; */
  padding: 20px;
  border: 1px solid;
  border-spacing: 20px;
}

.workCard2 h2 {
  white-space: nowrap;
  line-height: 8px;
}

.workCard2 img {
  width: 192.5px;
  height: 192.5px;
}

.workCard2 p {
  display: inline-block;
  width: 85%;
  height: 250px;
  text-align: left;
  color: grey;

}

.workCard2 a {
  display: block;
  color: black;
  cursor: pointer;
  font-family: 'Cabin', sans-serif;
  font-weight: bold;
  padding-top: 20px;
}


@media (max-width: 815px ){
  .skill-row{
    text-align: center;
  }

  .royce {
    float: none;
    margin-right: 0px;
  }


  .royce2 {
    float: none;
    margin-left: 0px;
  }

  .skillsList{
    text-align: center;
  }



  ul{
    padding-left: 0px;
  }

}


 @media (max-width: 1040px ){

   /* .workCard1, .workCard2 {
     width: 80%;
     margin: 30px 0;
   }

   .workCard1 p {
     height: auto;

   }

   .workCard2 p {
     height: auto;

   } */



   .footer{
     left:35%;
   }
 }


@media (max-width: 550px ){
  .git {
    position: relative;
    right: 30px;
  }



  .footer{
    left:35%;
  }

}


@keyframes pageLoad {

  from {
    opacity: 0;
    transform: translateY(15px);

  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pageLoad2 {

  from {
    opacity: 0;
    transform: translateY(30px);

  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes socialsLoad {

  from {
    opacity: 0;
    transform: translateX(-25px);

  }

  to {
    opacity: 1;
    transform: translateX(0)

  }

}
